:root {
    --mobile-width:90%;
    --darb-bg : #0f0f0f;
    --raised-bg: #212121;
    --dark-text: #ffffff;
    --light-bg: #fff;
    --light-text: #000;
    --red: #dd2c00;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--darb-bg);
  color: var(--dark-text);
}
.signup-wrapper{
    width:var(--mobile-width);
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
    background-color: var(--raised-bg);
}
.signup-wrapper input{
    all:unset;
    width: 80%;
    font-size: 20px;
    color: var(--dark-text);
    background-color: var(--darb-bg);
    display: flex;
    justify-content: center;
    padding: 1vh 1vw;
    border: 1px solid var(--raised-bg);
}
.submit-btn{
    background-color: var(--light-bg);
    color: var(--light-text);
    padding: 1vh 2vw;
    font-size: 20px;
    margin: 2vh 0 ;
    border: 1px solid var(--darb-bg);
    border-radius: 5px;
    cursor: pointer;
}
.line-error{
    margin-bottom: 1vh;
    color: var(--red);
    text-align: center;
}




